/* Master Styles */
body {
    margin:20px;
}

/* .container{
    display:grid;
    grid-gap: 20px;
} */

/* Apply this font to all elements */
*{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Nav Styles - center the navigation bar and apply vertical padding*/
.nav-wrapper{
    display:flex;
    justify-content: center; 
    margin: 30px;
}

/* Big name above navigation bar */
.bigName{
    display:flex;
    justify-content: center;
    font-size: 50px;
    margin-top: 50px;
    color:slategrey;
}

/* Put menuItems in flexbox to display them horizontally */
.menuItems{
    display:flex;
}

/* Apply horizontal spacing to menuItems and uppercase transform all text*/
.nav-wrapper > .menuItems > div{
    margin-right: 30px;
    font-size: 1em;
    text-transform: uppercase;   
}

/* Center opening statement */
.hero{
    display: flex;
    justify-content: center;
}

.experience{
    display:flex;
    justify-content: left;
}

.education{
    display: flex;
    justify-content:right;
}

/* transition will enable dynamic highlighting of nav elements */
.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.1s;
}

.nav-link-wrapper a{
    color: #8a8ae4;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover{
    border-bottom: 1px solid orangered;
}   

.nav-link-wrapper a:hover{
    color: orangered;
    text-decoration: none;
    transition: color 0.5s;
}


/* Experience Icons */

.experience-img-background{
    height: 125px;
    width: 125px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


/* Portfolio Styles */


.content-wrapper{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    grid-gap: 20px;
}

.portfolio-img-background{
    height:300px;
    width:100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}

.img-text-wrapper{
    position:relative;
    top:0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100%;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}